<p id="notice"><%= notice %></p>
<h1>
  <%= @beer_club.name.capitalize %>
</h1>
<div class="info">
  <h2>
    Founded:
    <%= @beer_club.founded %>
  </h2>

  <h2>
    City:
    <%= @beer_club.city.capitalize %>
  </h2>

  <h2>
    Members: 
    <%= @beer_club.memberships.count %>
  </h2>
</div>
<% if @beer_club.memberships.count >0%>
<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Joined club</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @beer_club.memberships.each do |membership| %>
    <tr>
      <td><%= link_to membership.user.username.capitalize, membership.user%></td>
      <td><%= membership.created_at.year%> - <%=membership.created_at.month%> - <%= membership.created_at.day%></td>
      <% if current_user == membership.user_id%>
      <td><%= link_to 'Leave club', membership, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <%= link_to 'Edit', edit_beer_club_path(@beer_club) %>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<br>

<div class="to_button">
  <%= link_to 'Back', beer_clubs_path %>
</div>
