<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>
<p>Number of users: <%=@users.count%></p>
<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Joined</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username, user %></td>
        <td><%= user.created_at.year%> - <%=user.created_at.month%> - <%=user.created_at.day%>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="to_button">
  <%= link_to 'New User', new_user_path %>
</div>
