<p id="notice"><%= notice %></p>

<h1>Ratings</h2>
  <h2>Number of Ratings: <%=@ratings.count%></h2>

  <% unless @ratings.nil?%>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Beer</th>
        <th>Score</th>
        <th>User</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @ratings.each do |rating| %>
      <tr>
        <td><%= link_to rating.beer, rating.beer %></td>
        <td><%= rating.score%></td>
        <%if rating.user %>
        <td><%= link_to rating.user.username.capitalize, rating.user%></td>
        <% if current_user == rating.user%>
        <td><%= link_to 'Delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
  <br>

  <div class="btn btn-default">
    <% if current_user%>
    <%= link_to 'Add rating', new_rating_path%>
    <% else %>
    <h2>Sign in to add Ratings!</h2>
    <br>
    <%= link_to 'Sign in', signin_path%>
    <% end %>
  </div>
