<p id="notice"><%= notice %></p>

<h1>Listing ratings</h2>
<p>Number of ratings: <%=@ratings.count%></p>

<table>
  <thead>
    <tr>
      <th>Beer</th>
      <th>Score</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ratings.each do |rating| %>
    <tr>
      <td><%= rating.beer %></td>
      <td><%= rating.score%></td>
      <td><%= rating.user.username%></td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="to_button">
  <%= link_to "New Rating", new_rating_path%>
</div>
