<p id="notice"><%= notice %></p>

<h1>Ratings</h2>
  <h2>Number of ratings: <%=@ratings.count%></h2>

  <% unless @ratings.nil?%>
  <table class="ratings">
    <thead>
      <tr>
        <th>Beer</th>
        <th>Score</th>
        <th>User</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @ratings.each do |rating| %>
      <tr>
        <td><%= rating.beer %></td>
        <td><%= rating.score%></td>
        <%if rating.user %>
        <td><%= link_to rating.user.username.capitalize, rating.user%></td>
        <% if current_user == rating.user%>
        <td><%= link_to 'Delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>

  <div class="to_button">
    <p>Sign in to add Ratings!</p>
    <% if current_user%>
    <%= link_to 'Add rating', new_rating_path%>
    <% else %>
    <%= link_to 'Sign in', signin_path%>
    <% end %>
  </div>
