<p id="notice"><%= notice %></p>

<h1>Listing ratings</h2>
<p>Number of ratings: <%=@ratings.count%></p>

<% unless @ratings.nil?%>
<table>
  <thead>
    <tr>
      <th>Beer</th>
      <th>Score</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ratings.each do |rating| %>
    <tr>
      <td><%= rating.beer %></td>
      <td><%= rating.score%></td>
      <%if rating.user %>
        <td><%= link_to rating.user.username, rating.user%></td>
      <% if current_user == rating.user%>
        <td><%= link_to 'Delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<div class="to_button">
  <%= link_to 'New Brewery', new_brewery_path %>
  <%= link_to 'List of beers', beers_path%>
  <%= link_to 'Beer Clubs', beer_clubs_path%>
  <% if current_user%>
    <%= link_to 'Add rating', new_rating_path%>
    <% end %>
</div>
