<p id="notice"><%= notice %></p>

<h1>Ratings</h2>
  <h2>Number of Ratings: <%=@ratings.count%></h2>

  <% unless @ratings.nil?%>
  <table class="table table-hover">
    <h2>Five Most Recent Ratings</h2>
    <thead>
      <tr>
        <th>Beer</th>
        <th>Score</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @recent.each do |rating| %>
      <tr>
        <td><%= link_to rating.beer, rating.beer %></td>
        <td><%= rating.score%></td>
        <%if rating.user %>
        <td><%= link_to rating.user.username.capitalize, rating.user%></td>
        <% if current_user == rating.user%>
        <td><%= link_to 'Delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>

  <table class="table table-hover">
    <h2>Three Best Breweries</h2>
    <thead>
      <tr>
        <th>Brewery</th>
        <th>Average Score</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @breweries.each do |brewery| %>
      <tr>
        <td><%= link_to brewery.name, brewery %></td>
        <td><%= brewery.AverageRating%></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <table class="table table-hover">
    <h2>Three Best Beers</h2>
    <thead>
      <tr>
        <th>Beer</th>
        <th>Average Score</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @beers.each do |beer| %>
      <tr>
        <td><%= link_to beer.name, beer %></td>
        <td><%= beer.AverageRating%></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <table class="table table-hover">
    <h2>Three Most Active Users</h2>
    <thead>
      <tr>
        <th>User</th>
        <th># of Ratings</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username, user %></td>
        <td><%= user.ratings.count%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
  <br>

  <% if current_user%>
  <div class="btn btn-default">
    <%= link_to 'Add rating', new_rating_path%>
  </div>
  <% else %>
  <h2>Sign in to add Ratings!</h2>
  <br>
  <div class="btn btn-default">
    <%= link_to 'Sign in', signin_path%>
    <% end %>
  </div>
