<p id="notice"><%= notice %></p>

<h1>Breweries</h1>
<h2> Number of Active Breweries: <%= @active_breweries.count %> </h2>

<% unless @active_breweries.nil?%>
<%= render 'list', breweries: @active_breweries %>
<%end%>

<h2> Number of Retired Breweries: <%= @retired_breweries.count %> </h2>

<% unless @retired_breweries.nil?%>
<%= render 'list', breweries: @active_breweries %>
<% end %>

<br>

<% if current_user%>
<div class="btn btn-default">
  <%= link_to 'Create Brewery', new_brewery_path%>
</div>
<% else %>
<h2>Sign in to add Breweries!</h2>
<br>
<div class="btn btn-default">
  <%= link_to 'Sign in', signin_path%>
  <% end %>
</div>
