<p id="notice"><%= notice %></p>

<h2>
  <strong>
    <%= @brewery.name %>
  </strong>
</h2>

<p>
  <i>Established in: <%= @brewery.year %></i>
</p>

<p>
  Number of beers
  <%= @brewery.beers.count %>
</p>

<% if @brewery.beers.count >0%>
<table>
  <thead>
    <tr>
      <th>Beer</th>
      <th>Style</th>
      <th>Average rating</th>
      <th>Number of ratings</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <% @brewery.beers.each do |beer| %>
    <tr>
      <td><%= link_to beer.name.capitalize, beer%></td>
      <td><%= beer.style.capitalize %></td>
      <td><%= beer.AverageRating%></td>
      <td><%= beer.ratings.count%></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<% if @brewery.ratings.empty? %>
<p>
  Brewery has not yet been rated!
  <% else %>
  Has <%=@brewery.ratings.count%> <%="rating".pluralize(@brewery.ratings.count)%>, average <%=@brewery.AverageRating%>
</p>
  <%end%>
