<p id="notice"><%= notice %></p>

<h1>
  <%= @brewery.name %>
</h1>
<% unless @brewery.active  %>
  <span class="label label-info">retired</span>
<% end %>
<div class="info">
  <h2>
    Established in: <%= @brewery.year %>
  </h2>

  <h2>
    Number of beers: <%= @brewery.beers.count %>
  </h2>
  <% if @brewery.ratings.empty? %>
  <h2>
    Brewery has not yet been rated!
  </h2>
  <% else %>
  <h2>
    Has <%=@brewery.ratings.count%> <%="rating".pluralize(@brewery.ratings.count)%> with average of <%=@brewery.AverageRating%>
  </h2>
  <% end %>
</div>
<br><br>

<% if @brewery.beers.count >0%>
<table>
  <thead>
    <tr>
      <th>Beer</th>
      <th>Style</th>
      <th>Average rating</th>
      <th>Number of ratings</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <% @brewery.beers.each do |beer| %>
    <tr>
      <td><%= link_to beer.name.capitalize, beer%></td>
      <td><%= beer.style.name.capitalize %></td>
      <td><%= beer.AverageRating%></td>
      <td><%= beer.ratings.count%></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<br><br>
<%= link_to "change activity", toggle_activity_brewery_path(@brewery.id), method: :post, class: "btn btn-primary" %>
<% if current_user && current_user.admin  %>
<div class="btn btn-warning">
  <%= link_to 'Delete', @brewery, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
<%end %>
