<p id="notice"><%= notice %></p>

<h1 class="beer_header">Listing Beers</h1>
<h2>Number of beers: <%=@beers.count%></h2>

<% unless @beers.nil?%>
<div class="tables">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Style</th>
        <th>Brewery</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    
    <tbody>
      <% @beers.each do |beer| %>
      <tr>
        <td><%= link_to beer.name.capitalize, beer %></td>
        <td><%= beer.style.capitalize %></td>
        <td><%= link_to beer.brewery.name.capitalize, brewery_path(beer.brewery_id) %></td>
        <% if current_user%>
        <td><%= link_to 'Edit', edit_beer_path(beer) %></td>
        <td><%= link_to 'Destroy', beer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>

<br>

<div class="to_button">
  <%= link_to 'Add a New Beer', new_beer_path %>
</div>
