<p id="notice"><%= notice %></p>

<h1 class="beer_header">Listing Beers</h1>
<p>Number of beers: <%=@beers.count%></p>

<div class="tables">
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Style</th>
      <th>Brewery</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @beers.each do |beer| %>
      <tr>
        <td><%= link_to beer.name, beer %></td>
        <td><%= beer.style %></td>
        <td><%= link_to beer.brewery.name, brewery_path(beer.brewery_id) %></td>
        <td><%= link_to 'Edit', edit_beer_path(beer) %></td>
        <td><%= link_to 'Destroy', beer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<div class="to_button">
  <%= link_to 'New Beer', new_beer_path %>
  <%= link_to 'list of breweries', breweries_path %>
</div>
