<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @beer.name %>
</p>

<p>
  <strong>Style:</strong>
  <%= @beer.style %>
</p>

<p>
  <strong>Brewery:</strong>
  <%= @beer.brewery.name %>
</p>

<p><% if @beer.ratings.empty? %>
  beer has not yet been rated!
<% else %>Has <%=@beer.ratings.count%> <%="rating".pluralize(@beer.ratings.count)%>, Average <%=@beer.AverageRating%> <% end %></p>

<button type="button"><%= link_to "Add Rating", new_rating_path%></button>
<button type="button"><%= link_to "Edit beer", edit_beer_path%></button>
<button type="button"><%= link_to "Back", beers_path%></button>
