<p id="notice"><%= notice %></p>

<%= form_tag places_path do %>
City<br><br>
<%= text_field_tag :city, params[:city] %>
<br><br>
<%= submit_tag "Search" %><br>
<% end %>
<br>

<% if @places %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Country</th>
      <th>Rating</th>
      <tg colspan="4"></th>
      </tr>
    </thead>
    <tbody>
      <% @places.each do |place| %>
      <tr>
        <td><%= link_to place.name, place_path(place.id)%></td>
        <td><%= place.address %></td>
        <td><%= place.country %></td>
        <td><%= place.overall %></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
