<!DOCTYPE html>
<html>
<head>
  <title>Ratebeer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <ul class="navibar", id="Topnav">
    <li><%= link_to 'Breweries', breweries_path %></li>
    <li><%= link_to 'Beers', beers_path %></li>
    <li><%= link_to "Ratings", ratings_path%></li>
    <li><%= link_to "Users", users_path%></li>
    <!-- TODO <button type="button"><%= link_to "Ratings", ratings_path%></button>
    TODO <button type="button"><%= link_to "Ratings", ratings_path%></button> -->
  </ul>


  <% if current_user %>
    <p><%current_user.username %> signed in</p>
  <%end%>
  <!-- TEST FOR USER SESSION
  <% if session[:last_rating].nil?%>
    <p>No ratings given</p>
  <% else %>
    <p> Previous rating: <%= session[:last_rating]%></p>
  <%end%>
-->
<a href="https://static.pexels.com/photos/8755/food-cold-wood-hand.jpg">Link to image</a>
  <%= yield %>

</body>
</html>
